/* colors : #e67e22 #555, #333
  - Tints #fdf2e9, #fae5d3
  - Shades #cf711f;
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 => 62.5% 
    percentage of user's browser  font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
  overflow: hidden;
}
/* ****************************** */
/* GENERAL COMPONENTS */
/* ****************************** */

.container {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 4.6rem;
  row-gap: 7.6rem;
}
.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid:not(:last-child) {
  margin-bottom: 6rem;
}
.grid-center-v {
  align-items: center;
}
/* .section-how div div {
  padding: 100px;
  font-size: 50px;
  } */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #45260a;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 4.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  /* margin-bottom: 1rem; */
}
.heading-tertiary {
  font-size: 2.9rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.btn:link,
.btn:visited {
  background-color: #e67e22;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.2rem 3rem;
  border-radius: 11px;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.btn--CTA:link,
.btn--CTA:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--CTA:hover,
.btn--CTA:active {
  background-color: #cf711f;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  border: none;
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* Not perfect fit for website */
  /* border: 3px solid #fff; */
  /* trick to add border inside of btn */
  box-shadow: inset 0 0 0 3px #fff;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 2px solid transparent;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.list-icon {
  height: 2.3rem;
  width: 2.3rem;
  color: rgb(207, 113, 31);
  margin-top: 0.4rem;
}
.list-item {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 500;
}
/* Healper Classes */
.center-text {
  text-align: center;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
strong {
  font-weight: 500;
}
