/* ****************************** */
/* HEADER */
/* ****************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 8.6rem;
  padding: 0 48px;
}
.logo {
  height: 2rem;
}

/* ****************************** */
/* NAVIGATION */
/* ****************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  color: #555;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.nav-cta:link,
.nav-cta:visited {
  padding: 1.1rem 2.2rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}
/* ****************************** */
/* HERO SECTION */
/* ****************************** */
.section-hero {
  background-color: #fdf2e9;
  padding: 2.3rem 0rem;
}
.hero {
  max-width: 110rem;
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 2.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.3rem;
  align-items: center;
}

.hero-description {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 8rem;
}
.delivered-imgs img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-text {
  font-size: 1.4rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ****************************** */
/* FEATURED IN SECTION */
/* ****************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
  color: #555;
}
.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 0.5;
}
/* ****************************** */
/* HOW IT WORKS SECTION */
/* ****************************** */

.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 7.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.4rem;
  line-height: 1.4;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
.screen-img {
  width: 35%;
}
