/* ****************************** */
/* HEADER */
/* ****************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 8.6rem;
  padding: 0 48px;
}
.logo {
  height: 2rem;
}

/* ****************************** */
/* NAVIGATION */
/* ****************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  color: #555;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.nav-cta:link,
.nav-cta:visited {
  padding: 1.1rem 2.2rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}
/* ****************************** */
/* HERO SECTION */
/* ****************************** */
.section-hero {
  background-color: #fdf2e9;
  padding: 2.3rem 0rem;
}
.hero {
  max-width: 110rem;
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 2.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.3rem;
  align-items: center;
}

.hero-description {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 8rem;
}
.delivered-imgs img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-text {
  font-size: 1.4rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ****************************** */
/* FEATURED IN SECTION */
/* ****************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
  color: #555;
}
.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 0.5;
}
/* ****************************** */
/* HOW IT WORKS SECTION */
/* ****************************** */

.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 7.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.4rem;
  line-height: 1.4;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
.screen-img {
  width: 35%;
}
/* ****************************** */
/* Meals SECTION */
/* ****************************** */

.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s;
}
.meal:hover {
  transform: translateY(-1.4rem);
  box-shadow: 0 3.2rem 6.2rem rgb(255, 153, 0, 0.2);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-img {
  width: 100%;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 15px;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.meal-attribute {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #cf711f;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* ****************************** */
/* Testimonials SECTION */
/* ****************************** */

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  align-items: center;
  grid-template-columns: 55fr 45fr;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}
.testimonial-img {
  display: block;
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.05);
}
/* ****************************** */
/* Pricing SECTION */
/* ****************************** */

.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 15px;
  padding: 4.8rem;
  transition: all 0.5s;
}
.grid--pricing {
  grid-template-columns: 350px 350px;
  justify-content: center;
  gap: 4rem;
}
.pricing-plan--starter {
  box-shadow: inset 0 0 0 3px #fdf2e9;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best Value";
  background-color: #ffd43b;
  color: #555;
  font-size: 1rem;
  padding: 0.8rem 4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  right: -8.3%;
  transform: rotate(45deg);
}
.pricing-plan--complete:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1.4rem);
  box-shadow: 0 3.2rem 4.2rem rgb(255, 153, 0, 0.3);
}

.plan-header {
  text-align: center;
  margin-bottom: 4rem;
}
.plan-name {
  color: #cf711f;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}
.plan-price {
  font-size: 3.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.2rem;
}
.plan-price span {
  font-size: 2rem;
  color: #cf711f;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  color: #555;
}
.plan-signup {
  text-align: center;
  margin-top: 4rem;
}
.plan-details {
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: center;
  margin: 4rem 0;
}
.feature-grid {
  display: grid;
  gap: 4.5rem;
}
.feature-icon {
  color: #cf711f;
  background-color: #fdf2e9;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/* ****************************** */
/* CTA SECTION */
/* ****************************** */

.section-cta {
  padding: 4rem 0 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}
.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
}
.cta-text {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  background-color: #fdf2e9;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 9px;
}
.cta-form button {
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 13px;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.cta-form button:hover {
  background-color: #fff;
  color: #555;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5);
}
/* ****************************** */
/* FOOTER */
/* ****************************** */

.footer {
  padding: 9.6rem 0;
  background-color: #fdf2e9;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-logo {
  display: block;
  margin-bottom: 3.6rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.5;
}
.contacts-first-child {
  font-size: 1.2rem !important;
  margin-bottom: 1.8rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  margin-bottom: 3rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #555;
  transition: all 0.3s;
}
.copyright {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #767676;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #111;
  text-decoration: underline;
}
