/* colors : #e67e22 #555, #333
  - Tints #fdf2e9;
  - Shades #cf711f;
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 => 62.5% 
    percentage of user's browser  font-size setting */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 9.3rem 0rem;
}
.hero {
  max-width: 110rem;
  /* max-width: 1100px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.3rem;
  align-items: center;
}
.heading-primary {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-weight: 500;
  padding: 1.6rem 3.6rem;
  border-radius: 13px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.btn--CTA:link,
.btn--CTA:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--CTA:hover,
.btn--CTA:active {
  background-color: #cf711f;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* Not perfect fit for website */
  /* border: 3px solid #fff; */
  /* trick to add border inside of btn */
  box-shadow: inset 0 0 0 3px #fff;
}
.hero-img {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 8rem;
}
.delivered-imgs img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-text {
  font-size: 1.4rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
